.profile-label {
  white-space: nowrap;
  font-weight: bold;
}
.profile-value {
  white-space: nowrap;
  color: white;
  margin-top: -15px;
}
@media (min-width: 576px) {
  .profile-value {
    margin-top: 0px;
  }
}

.avatar-background {
  width: 14rem;
  height: 14rem;
  //margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.avatar-background-img {
  background-position: center;
  border-radius: 50%;
  background-size: contain;
  //background-size: center;
  height: 14rem;
  width: 14rem;
}
