{% load i18n %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make Friend</title>
  </head>
  <body>
    <form method="GET" action="/friend/search" id="search-friend">
      {{ search_form.as_p }}
      <button type="submit ">{% trans '検索' %}</button>
    </form>
    <div id="friend-request">
      {% include 'friend/request.html' with friend_requests=friend_requests %}
    </div>
    <div id="friend-list">{% include 'friend/list.html' with friends=friends%}</div>
  </body>
</html>
