{% load i18n %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make Friend</title>
  </head>
  <body>
    {% include 'friend/search-form.html' %}

    <div id="friend-request" class="mt-5">
      {% include 'friend/request.html' with friend_requests=friend_requests %}
    </div>
    <div id="friend-list" class="mt-5">{% include 'friend/list.html' with friends=friends%}</div>
  </body>
</html>
