{% load i18n %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make Friend</title>
  </head>
  <body>
    <br />
    <div class="d-flex align-items-center align-items-sm-end flex-column flex-sm-row">
      <h3>{% trans "フレンドリクエスト" %}</h3>
      {% if friend_requests%}
      <span class="h6 ps-2">
        <a href="/friend/requests/" class="">{% trans 'すべてのリクエストを表示' %}</a>
      </span>
      {% endif %}
    </div>
    {% if not friend_requests%}
    <div>{% trans 'フレンドリクエストはありません' %}</div>
    {% endif %} {% if friend_requests %}
    <div class="row d-flex justify-content-center justify-content-sm-start overflow-hidden">
      {% for request in friend_requests %}
      <!-- Dont' delete me-->
      {% include 'friend/request-card.html' with request=request%}
      <span style="display: none"></span>

      {% endfor %}
    </div>

    {% endif %} {% include 'friend/answer-request-modal.html' %}
  </body>
</html>
