{% load i18n %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Make Friend</title>
  </head>
  <body>
    <!-- ページネーションのリンクを表示 -->
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="{{query}}&page=1">Top</a>
      </li>

      <li class="page-item">
        <a class="page-link" href="{{query}}&page={{ page_obj.previous_page_number }}">Previous</a>
      </li>

      {% if page_obj.previous_page_number > 0 %}
      <li class="page-item">
        <a class="page-link" href="{{query}}&page={{ page_obj.previous_page_number }}"
          >{{ page_obj.previous_page_number }}</a
        >
      </li>
      {% endif%} {% endif %} {% if page_obj.has_next or page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link disabled" href="#"
          ><span class="fw-bold text-dark">{{ page_obj.number }}</span></a
        >
      </li>
      {% endif%} {% if page_obj.has_next %} {% if page_obj.next_page_number < paginator.num_pages %}
      <li class="page-item">
        <a class="page-link" href="{{query}}&page={{ page_obj.next_page_number }}"
          >{{ page_obj.next_page_number }}</a
        >
      </li>
      {% endif %}
      <li class="page-item">
        <a class="page-link" href="{{query}}&page={{ page_obj.next_page_number }}">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{{query}}&page={{ paginator.num_pages }}">Last</a>
      </li>
      {% endif%}
    </ul>

    {% include 'friend/request-modal.html' %} {% include 'friend/search-form.html' %}

    <h2 class="mt-5">{% trans '検索結果' %}</h2>
    <div id="searched-user">
      <table class="table">
        <thead>
          <tr>
            <th scope="col-4" class="start-cell">{% trans 'アバター' %}</th>
            <th scope="col-4">{% trans 'ユーザー名' %}</th>
            <th scope="col-4">{% trans '申請' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for friend in results %}
          <tr>
            <th>
              <!--
              <img
                src="{{friend.avatar.url}}"
                class="img-fluid ft-logo"
                id="ft-logo"
                alt="42-logo"
                height="40"
                width="40"
              />
-->
              <div class="avatar-background-mini">
                <div
                  id="request-message-user-avatar"
                  style="background-image: url('{{friend.avatar.url}}');   "
                  class="avatar-background-img-mini"
                ></div>
              </div>
            </th>
            <th><div class="text-break text-wrap px-2">{{ friend.username }}</div></th>
            <th>
              <button
                type="button"
                class="btn btn-primary text-break"
                data-bs-toggle="modal"
                data-bs-target="#friendRequestModal"
              >
                {% trans 'フレンド申請' %}
                <div
                  class="request-button-name"
                  hidden
                  data-url="{{ friend.avatar.url }}"
                  data-id="{{ friend.id}}"
                  data-name="{{ friend.username }}"
                ></div>
                <div hidden></div>
              </button>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
