{% load render_bundle from webpack_loader %}

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Django Index Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% render_bundle 'main' 'css' %}
  </head>
  <body>
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
    >
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/home" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="/pong" class="nav-link px-2">Pong</a></li>
        <li><a href="/accounts" class="nav-link px-2">Accounts</a></li>
        <li><a href="/admin" class="nav-link px-2">Admin</a></li>
        <li><a href="/posts" class="nav-link px-2">Posts</a></li>
        <li><a href="/settings" class="nav-link px-2">Settings</a></li>
        <li><a href="/lang" class="nav-link px-2">Lang</a></li>
        <li><a href="/script" class="nav-link px-2">Script</a></li>
        <li><a href="/scriptt" class="nav-link px-2">Script2</a></li>
        <li><a href="/success-login" class="nav-link px-2">Success-login</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="/login"
          ><button type="button" class="btn btn-outline-primary me-2">Login</button></a
        >
        <a href="/signup"><button type="button" class="btn btn-primary">Sign-up</button></a>
      </div>
    </header>

    <h1>SPA Area</h1>
    <div id="spa" class="spa_area">
      <div id="app"></div>
    </div>

    {% csrf_token %} {% render_bundle 'main' 'js' %}
  </body>
</html>
