{% load render_bundle from webpack_loader %}

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Django Index Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% render_bundle 'main' 'css' %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- Sawarabi-->
    <link
      href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap"
      rel="stylesheet"
    />
    <!-- Noto Sans JP-->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Sawarabi+Gothic&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-dark">
    <div id="nav"></div>

    <div id="spa" class="spa_area">
      <div id="app"></div>
    </div>

    {% csrf_token %} {% render_bundle 'main' 'js' %}
  </body>
</html>
