@import 'bootstrap/scss/bootstrap';

.nav-item {
  //background-color: red;
}
#tab-login {
  //background-color: $nav-link-color;
  //border-radius: 0%;
}

#tab-register {
  //background-color: $nav-link-color;
  //border-radius: 0%;
}

body {
  //font-family: 'Roboto', sans-serif;
  //font-family: 'Sawarabi Gothic', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  color: $light;
  //background-color: bg-dark;
}

.btn-auth {
  @extend .btn-secondary;
  background-color: #4caf50;
  border-color: #4caf50;
}
.btn-auth:hover {
  background-color: #43a047;
  border-color: #43a047;
}

.noto-sans-jp-normal {
  font-family: 'Noto Sans JP', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#login-nav {
  max-width: 700px;
  //background-color: red;
}

.bg-nav {
  background-color: #18181d;
  color: text-white;
}
