{% load static %} {% load i18n %}
<body>
  <section class="d-flex justify-content-center w-100 text-light">
    <div class="row w-100 text-center">
      <div class="mb-1">or login with</div>
      <button id="openDialog" data-bs-toggle="modal" data-bs-target="#FtAuth-Modal">
        <img src="static/asset/login/42.svg" class="img-fluid ft-logo" id="ft-logo" alt="42-logo" />
      </button>
    </div>
  </section>

  <div
    id="FtAuth-Modal"
    class="modal fade"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="d-flex justify-content-center w-100">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">42 OAuth</h1>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            id="close-modal"
          ></button>
        </div>
        <div class="modal-body">
          <a
            href="{% static 'accounts/two-fa.html' %}"
            id="success-login"
            class="nav__link"
            data-link
            hidden
          >
            success
          </a>
          <div class="d-flex justify-content-center w-100">
            <div p id="instruction">
              {% trans "QRコードから42でログインすることを許可してください" %}
              <br />
              {% trans "続けて認証ボタンを押すことでログインされます" %}
            </div>
            <div p id="instruction-processing" hidden>
              {% trans "認証中です。" %}
              <br />
              {% trans "しばらくお待ちください" %}
            </div>
            <div p id="instruction-error" stylesheet="{color:red}" hidden>
              <font color="red">
                {% trans "認証に失敗しました。" %}
                <br />
                {% trans "最初からやり直してください" %}
              </font>
            </div>
          </div>

          <a id="ft-oauth-url" href="{{ft_url}}" target="_blank" rel="noopener noreferrer"
            ><img src="data:image/png;base64,{{ qr }}" height="480" width="480"
          /></a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="closeDialog">{% trans "認証" %}</button>
        </div>
      </div>
    </div>
  </div>
</body>
