{% load render_bundle from webpack_loader %} {% load static %} {% load i18n %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>LoginViewテスト</title>
  </head>
  <body>
    {{extra}} {% if user.is_authenticated %}
    <div>
      <form id="logout-form" method="post" action="{% url 'accounts:logout' %}">
        {% csrf_token %}
        <button id="logined" type="submit" class="login-button">{% trans "Log_out" %}</button>
      </form>
      <form method="post" hidden>dummy</form>
    </div>

    {% else %}
    <form id="dummy" hidden></form>
    <form method="post" id="login-form" action="{% url 'accounts:login-tmp' %}">
      {% csrf_token %} {{ form }}
      <input type="text" id="verify-code" name="code" pattern="[0-9]{6}" disabled hidden />
      <button type="submit" class="form-button" id="login-tmp-button">{% trans "Log_in" %}</button>
    </form>

    <button id="back-button" hidden>{% trans "元に戻す" %}</button>
    <div id="form-error" class="error" hidden>
      {% trans "認証に失敗しました。" %}
      <br />
      {% trans "入力内容を見直してください" %}
    </div>

    <button id="openDialog">{% trans "42認証" %}</button>
    <p>{% trans "42認証" %}</p>
    <dialog id="myDialog">
      <a
        href="{% static 'accounts/two-fa.html' %}"
        id="success-login"
        class="nav__link"
        data-link
        hidden
      >
        success
      </a>
      <div p id="instruction">
        {% trans "QRコードから42でログインすることを許可してください" %}
        <br />
        {% trans "続けて認証ボタンを押すことでログインされます" %}
      </div>
      <div p id="instruction-processing" hidden>
        {% trans "認証中です。" %}
        <br />
        {% trans "しばらくお待ちください" %}
      </div>
      <div p id="instruction-error" stylesheet="{color:red}" hidden>
        <font color="red">
          {% trans "認証に失敗しました。" %}
          <br />
          {% trans "最初からやり直してください" %}
        </font>
      </div>
      <img src="data:image/png;base64,{{ qr }}" height="480" width="480" />
      <a id="ft-oauth-url" href="{{ft_url}}" target="_blank" rel="noopener noreferrer">URL</a>
      <button id="closeDialog">{% trans "認証" %}</button>
    </dialog>

    {% endif %} {% render_bundle 'main' 'css' %}
  </body>
</html>
