{% load render_bundle from webpack_loader %} {% load static %} {% load i18n %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>LoginViewテスト</title>
  </head>
  <body>
    {{extra}} {% if user.is_authenticated %} {% if user.is_temporary %}
    <div>is_temporary is True</div>
    {% else%}
    <div>is_temporary is False</div>
    {% endif %}
    <div>
      <form id="logout-form" method="post" action="{% url 'accounts:logout' %}">
        {% csrf_token %}
        <button id="logined" type="submit" class="login-button">{% trans "Log_out" %}</button>
      </form>
      <form method="post" hidden>dummy</form>
    </div>

    {% else %}
    <form id="dummy" hidden></form>
    <section>
      <h2 hidden>ログイン</h2>
      <form method="post" id="login-form" action="{% url 'accounts:login-tmp' %}">
        {% csrf_token %}

        <div class="form-floating w-100 text-pale">
          {{ form.username}}
          <label for="id_username">{% trans "Email address" %}</label>
        </div>
        <div class="form-floating w-100 text-pale">
          {{ form.password}}
          <label for="id_password">{% trans "Password" %}</label>
        </div>

        <input type="text" id="verify-code" name="code" pattern="[0-9]{6}" disabled hidden />
        <button
          type="submit"
          data-mdb-button-init
          data-mdb-ripple-init
          class="btn btn-primary btn-block mb-4 w-100 mt-4 rounded-0 btn-auth"
          id="login-tmp-button"
        >
          {% trans "Log_in" %}
        </button>
      </form>
    </section>

    <button id="back-button" hidden>{% trans "元に戻す" %}</button>

    <div id="form-error" class="error" hidden>
      {% trans "認証に失敗しました。" %}
      <br />
      {% trans "入力内容を見直してください" %}
    </div>
    {% include 'accounts/login-modal.html' %} {% endif %}
  </body>
</html>
