{% load static %} {% load i18n %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>2要素認証</title>
  </head>
  <body>
    {% if is_auth_app %}
    <div id="google-qr">
      test APP
      <img src="data:image/png;base64,{{ qr }}" id="app_qr" height="240" width="240" />
    </div>
    {% endif %}

    <form hidden>Dummy Form</form>
    <form action="{% url 'accounts:signup-two-fa-verify' %}" method="post" id="two-fa-form">
      {% csrf_token %}
      <div id="verify-code-block">
        {% trans "認証コードを入力してください" %}
        <input type="text" id="verify-code" name="code" pattern="[0-9]{6}" />
      </div>
      <button type="submit" id="2fa-button" class="form-button">{% trans "2要素認証"%}</button>
    </form>
    <div class="error-message" id="failure-verify" hidden>
      {% trans "認証に失敗しました" %}<br />
      {% trans "認証コードを見直して再度実行してください" %}
    </div>

    <div class="error-message" id="failure-send" hidden>
      {% trans "送信に失敗しました.もう一度やり直してください" %}<br />
    </div>

    <div hidden="{{is_auth_app}}">
      {% trans "認証コードが届いていない場合、下記ボタンからやり直してください"%}
      <form action="{% url 'accounts:send-two-fa' %}" id="resend-form">
        <button type="submit" id="resend">{% trans "やり直す"%}</button>
      </form>
    </div>
  </body>
</html>
