{% load static %} {% load i18n %}
<body>
  <!--
  <section class="d-flex justify-content-center w-100 text-light">
    <div class="row w-100 text-center">
      <div class="mb-1">or login with</div>
      <button id="open-two-fa" data-bs-toggle="modal" data-bs-target="#TwoFa-Modal">
        <img src="static/asset/login/42.svg" class="img-fluid ft-logo" id="ft-logo" alt="42-logo" />
      </button>
    </div>
  </section>
  <button id="open-two-fa" data-bs-toggle="modal" data-bs-target="#TwoFa-Modal">
    <img src="static/asset/login/42.svg" class="img-fluid ft-logo" id="ft-logo" alt="42-logo" />
  </button>
-->
  <!--
  <button id="close-two-fa-modal" data-bs-toggle="modal" data-bs-target="#Close-Modal">
    <img src="static/asset/login/42.svg" class="img-fluid ft-logo" id="ft-logo" alt="42-logo" />
  </button>

  <div
    id="Close-Modal"
    class="modal fade"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content custom-modal-bg">
        <div class="modal-header d-flex justify-content-center">{% trans "処理の中断"%}</div>
        <div class="modal-body">
          <div id="close-text1">サインアップを中断します。よろしいですか？</div>
          <div id="close-text2">
            処理を中断した場合、今回登録したメールアドレス、電話番号は削除されるまで使えなくなります。
          </div>
          <div id="close-text3">削除は仮登録から5分後に自動で行われます</div>
        </div>
        <div class="modal-footer">
          <div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              {% trans "キャンセル" %}
            </button>
            <button class="btn btn-primary" id="interrupt-two-fa" data-bs-dismiss="modal">
              {% trans "中断" %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
  <div
    id="TwoFa-Modal"
    class="modal fade"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content custom-modal-bg">
        <div class="modal-header">
          <div class="d-flex justify-content-center w-100">
            <h1 class="modal-title fs-5 text-black" id="staticBackdropLabel">{% trans "2要素認証" %}</h1>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            id="close-modal"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            <div id="google-qr-block" class="d-flex justify-content-center mb-4">
              <img src="data:image/png;base64,{{ qr }}" id="app_url_qr" height="240" width="240" />
            </div>

            <form hidden>Dummy Form</form>
            <form
              action="{% url 'accounts:signup-two-fa-verify' %}"
              method="post"
              id="two-fa-verify-form"
            >
              {% csrf_token %}
              <div
                id="verify-code-block"
                class="d-flex justify-content-center form-floating text-pale mx-5"
              >
                <input
                  type="text"
                  id="two-fa-verify-code"
                  name="code"
                  pattern="[0-9]{6}"
                  placeholder="email"
                  class="form-control w-100 rounded-0"
                />
                <label for="two-fa-verify-code">{% trans "認証コード" %}</label>
              </div>
            </form>
            <div class="error-message" id="failure-verify" hidden>
              {% trans "認証に失敗しました" %}<br />
              {% trans "認証コードを見直して再度実行してください" %}
            </div>

            <div class="error-message" id="failure-resend" hidden>
              {% trans "送信に失敗しました.もう一度やり直してください" %}<br />
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <div>
            <form action="{% url 'accounts:two-fa' %}" method="post" id="resend-two-fa">
              {% csrf_token %}
              <button type="submit" class="btn btn-info" id="resend-button">
                {% trans "再送" %}
              </button>
            </form>
          </div>
          <div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              {% trans "閉じる" %}
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              id="form-button"
              form="two-fa-verify-form"
            >
              {% trans "認証" %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
