{% load static %} {% load i18n %}
<body>
  <div
    id="TwoFa-Modal"
    class="modal fade"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content custom-modal-bg">
        <div class="modal-header">
          <div class="d-flex justify-content-center w-100">
            <h2 class="modal-title fs-5 text-black" id="staticBackdropLabel">
              {% trans "2要素認証" %}
            </h2>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            id="close-modal"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            <div id="google-qr-block" class="d-flex justify-content-center mb-4">
              <img src="data:image/png;base64,{{ qr }}" id="app_url_qr" height="240" width="240" />
            </div>

            <form hidden>Dummy Form</form>
            <form action="{% url 'accounts:signup-two-fa' %}" method="post" id="two-fa-verify-form">
              {% csrf_token %}
              <div
                id="verify-code-block"
                class="d-flex justify-content-center form-floating text-pale mx-5"
              >
                <input
                  type="text"
                  id="two-fa-verify-code"
                  name="code"
                  pattern="[0-9]{6}"
                  placeholder="email"
                  class="form-control w-100 rounded-0"
                />
                <label for="two-fa-verify-code">{% trans "認証コード" %}</label>
              </div>
            </form>
            <div class="error-message" id="failure-verify" hidden>
              {% trans "認証に失敗しました" %}<br />
              {% trans "認証コードを見直して再度実行してください" %}
            </div>

            <div class="error-message" id="failure-resend" hidden>
              {% trans "送信に失敗しました.もう一度やり直してください" %}<br />
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <div>
            <form action="{% url 'accounts:login-two-fa' %}" method="post" id="resend-two-fa">
              {% csrf_token %}
              <button type="submit" class="btn btn-info" id="resend-button">
                {% trans "再送" %}
              </button>
            </form>
          </div>
          <div class="d-flex justify-content-between">
            <form action="{% url 'accounts:cancel-two-fa' %}" method="post" id="cancel-two-fa">
              <input type="text" id="cancel-two-fa-target" name="target" value="login" hidden />
              <button type="submit" class="btn btn-secondary me-3" data-bs-dismiss="modal">
                {% trans "キャンセル" %}
              </button>
            </form>
            <button
              type="submit"
              class="btn btn-primary"
              id="form-button"
              form="two-fa-verify-form"
            >
              {% trans "認証" %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
