{% load static %} {% load i18n %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>2段階認証</title>
  </head>
  <body>
    <div>{% trans "2段階認証を行います" %}</div>
    <form hidden>dummy form</form>

      <div>{% trans "認証コードが届いていない場合、下記ボタンからやり直してください"%}<div>
        <button id="resend">{% trans "再送信"%}</button>
      </div>
      <!--
    <form action="{% url 'accounts:two-fa' %}" method="post" id="two_fa_form">
      {% csrf_token %}
      <div for="phone">{% trans "認証方法を選択してください" %}:</div>

      <input type="radio" id="option_email" name="mode" value="EMAIL" checked />
      <label for="option1">{% trans "メール認証" %}</label><br />

      <input type="radio" id="option_sms" name="mode" value="SMS" />
      <label for="option2">{% trans "SMS認証" %}</label><br />

      <input type="radio" id="option_app" name="mode" value="APP" />
      <label for="option3">{% trans "App認証" %}</label><br /><br />

      <input id="two-fa-verify" , type="submit" value={% trans "送信" %} />
    </form>

    <div id="failure-send-2fa" class ="failure-word" hidden>
      {% trans "認証コードの送信に失敗しました" %}
      <br/>
      {% trans "入力した内容を見直して再度実行してください" %}
    </div>
-->

    <div id="verify-input">
    <form action="{% url 'accounts:two-fa-verify' %}" method="post" id="two-fa-form">
      {% csrf_token %}
      <!--
      <input type="text" id="common-mode" name="mode" hidden />
      <input type="text" id="common-input" name="id" hidden />
      <input type="text" id="app-url" name="app_secret" hidden />
-->
      <div id="verify-code-block">
        {% trans "認証コードを入力してください" %}
        <input type="text" id="verify-code" name="code" pattern="[0-9]{6}" />
      </div>
      <button type="submit" id="2fa-button" class="form-button">{% trans "2要素認証"%}</button>
    </form>
      <div class ="failure-word" id="failure-verify" hidden>{%trans "認証に失敗しました"%}
        <div>{% trans "認証コードを見直して再度実行してください"%}</div>

      </div>
      <br/>
      <br/>

    <script>
      console.log('2FA Event Test');
    </script>
  </body>
</html>
