{% load static %} {% load i18n %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>2段階認証</title>
  </head>
  <body>
    <div>{% trans "2段階認証を行います" %}</div>
    <form hidden>dummy form</form>
    <form action="{% url 'accounts:two-fa' %}" method="post" id="two_fa_form">
      {% csrf_token %}
      <div for="phone">{% trans "認証方法を選択してください" %}:</div>

      <input type="radio" id="option_email" name="mode" value="EMAIL" checked />
      <label for="option1">{% trans "メール認証" %}</label><br />

      <input type="radio" id="option_sms" name="mode" value="SMS" />
      <label for="option2">{% trans "SMS認証" %}</label><br />

      <input type="radio" id="option_app" name="mode" value="APP" />
      <label for="option3">{% trans "App認証" %}</label><br /><br />

      <div id="input_sms" hidden>
        <label>{% trans "電話番号" %}:</label>
        <input type="tel" id="phone_number" name="id" pattern="[0-9]*" />
        <div>{% trans "ハイフン(-)はつけないで、数字のみで記入してください" %}</div>
      </div>
      <div id="input_email">
        <label>{% trans "メールアドレス" %}:</label>
        <input type="email" id="email_address" name="id" />
        <div>{% trans "有効なメールアドレスを入力してください" %}</div>
      </div>
      <div id="input_app" hidden>
        <label>{% trans "App" %}:</label>
        <input type="email" id="app_name" name="id" />
        <div>{% trans "有効なメールアドレスを入力してください" %}</div>
      </div>
      <br /><br />

      <input id="two-fa-submit" , type="submit" value={% trans "送信" %} />
    </form>

    <div id="failure-send-2fa" class ="failure-word" hidden>
      {% trans "認証コードの送信に失敗しました" %}
      <br/>
      {% trans "入力した内容を見直して再度実行してください" %}
    </div>

    <div id="verify-input" hidden>
      <form action="{% url 'accounts:two-fa-verify' %}" method="post" id="two_fa_verify_form">
        {% csrf_token %}
        <div>{% trans "認証コードを入力してください" %}</div>
        <input type="text" id="verify-code" name="code" pattern="[0-9]{6}" />
        <input type="text" id="common-mode" name="mode" hidden>
        <input type="text" id="common-input" name="id" hidden>
        <input id="verify-submit" , type="submit" value="送信" />
      </form>
      <div class ="failure-word" id="failure-verify" hidden>{%trans "認証に失敗しました"%}
        <div>{% trans "認証コードを見直して再度実行してください"%}</div>

      </div>
      <br/>
      <br/>
      <div>{% trans "認証コードが届いていない場合、下記ボタンからやり直してください"%}<div>
      <button id="resend">{% trans "やり直す"%}</button>
    </div>

    <script>
      console.log('2FA Event Test');
    </script>
  </body>
</html>
