# macOS
.DS_Store

# Environment variables
.env
*.env

# Database
.my_pgpass
db_volume
ft_trans/*/migrations/*

# Backups
*.bkp

# Python
*.pyc
__pycache__/*
*/**/db.sqlite3
*/**/migrations/*initial.py
ft_trans/make_db_setting.sh

## setting file
ft_trans/ft_trans/settings.py

# Logs
*.log

# Security
*.key
*.crt

# Node.js
node_modules
*/**/dist

# Public files
ft_trans/public/*

# Database
ft_trans/db.sqlite3

# Volume
ft_trans/make_db_setting.sh

#vim
*.swp
