# macOS
.DS_Store

# Environment variables
.env
*.env

# Database
.my_pgpass
db_volume
django/backend/*/migrations/*

# Backups
*.bkp

# Python
*.pyc
__pycache__/*
*/**/db.sqlite3
*/**/migrations/*initial.py

## setting file
django/backend/ft_trans/settings.py

# Logs
*.log

# Security
*.key
*.crt

# Node.js
node_modules
*/**/dist

# Public files
django/public/*

# Database
django/backend/db.sqlite3

# Volume
django/backend/make_db_setting.sh

#vim
*.swp
tag*
