# macOS
.DS_Store

# Environment variables
.env
*.env

# Database
.my_pgpass
db_volume

# Backups
*.bkp

# Python
*.pyc
__pycache__/*

## setting file
ft_trans/ft_trans/settings.py

# Logs
*.log

# Security
*.key
*.crt

# Node.js
node_modules

# Public files
ft_trans/public/*
