{% load i18n %} {% load tz %}
<div class="col-md-4 mb-4 w-auto card-div">
  <div class="card mx-0 mx-sm-0">
    <div class="avatar-background">
      <div
        style="background-image: url('{{match.opponent.avatar.url}}');   "
        class="avatar-background-img"
      ></div>
    </div>
    <strong class="card-label d-flex justify-content-center text-break text-wrap"
      >{{match.opponent.username}}
    </strong>

    <div class="card-body text-truncate border-top">
      <div class="text-center fw-bold h4">
        {% if match.draw %}
        <div class="text-info">{% trans 'ドロー' %}</div>
        {% elif match.invalid %}

        <div class="text-secondary">{% trans '無効試合' %}</div>
        {% elif match.win %}
        <div class="text-success">{% trans '勝利' %}</div>

        {% elif match.lose %}
        <div class="text-danger">{% trans '敗北' %}</div>
        {% endif %}
      </div>

      <div class="text-center fw-bold">{{ match.result}}</div>
      <div class="text-center fw-bold mt-4">{{ match.updated_at}}</div>
    </div>
  </div>
</div>
