{% load static %} {% load i18n %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% trans "Privacy Policy" %}</title>
  </head>
  <body>
    <h1>{% trans "Privacy Policy" %}</h1>
    <p>
        本プライバシーポリシーは、42が提供する課題（以下「ft_transcendence」）で作成されたウェブサイトおよびサービス（以下「本サービス」）における、利用者の個人データの収集、利用、管理に関する方針を説明するものです、本サービスの作成者および管理者（以下「管理者」）は、利用者の個人情報を適切に保護し、GDPR（一般データ保護規則）を遵守して取り扱います。
    </p>

    <h2>1. 収集する個人データ</h2>
    <p>管理者が収集する個人データは以下の通りです：</p>
    <ul>
        <li>氏名、メールアドレス、電話番号などの連絡先情報</li>
        <li>アカウント作成時に提供されるユーザー情報</li>
        <li>その他、必要に応じて提供される情報</li>
        <!-- <li>本サービスの利用履歴や閲覧履歴</li> -->
    </ul>

    <h2>2. 個人データの収集方法</h2>
    <p>管理者は、以下の方法で利用者の個人データを収集します：</p>
    <ul>
        <li>利用者が本サービスを利用する際に自発的に提供された情報</li>
        <li>クッキーおよび類似の追跡技術を通じた自動的な収集</li>
        <!-- <li>第三者のサービスプロバイダからの情報（適用される場合）</li> -->
    </ul>

    <h2>3. 個人データの利用目的</h2>
    <p>管理者は、利用者の個人データを以下の目的で使用します：</p>
    <ul>
        <li>本サービスの提供およびカスタマイズ</li>
        <li>利用者からの問い合わせ対応</li>
        <li>サービスの改善および新機能の開発</li>
        <li>法的義務の遵守およびコンプライアンス</li>
        <!-- <li>マーケティングおよびプロモーション（お客様の同意を得た場合）</li> -->
    </ul>

    <h2>4. データの保存期間</h2>
    <p>
        管理者は、収集した個人データを、その利用目的を達成するために必要な期間に限り保持します。法的に定められた保存期間を超えて保持する必要がある場合は、その限りではありません。
    </p>

    <h2>5. 個人データの第三者提供</h2>
    <p>管理者は、以下の場合を除き、利用者の個人データを第三者に提供しません：</p>
    <ul>
        <li>法的義務を果たすために必要な場合</li>
        <li>利用者の同意を得た場合</li>
        <li>サービスプロバイダに業務委託する場合（例：サーバーホスティング、支払い処理など）</li>
    </ul>

    <h2>6. クッキーおよび追跡技術</h2>
    <p>
        管理者は、ウェブサイトの利便性向上目的でクッキーを使用しています。クッキーの使用に同意しない場合は、ブラウザの設定からクッキーを無効にすることが可能です。
    </p>

    <h2>7. 利用者の権利</h2>
    <p>利用者は、以下の権利を有します：</p>
    <ul>
        <li>個人データへのアクセス権</li>
        <li>個人データの訂正権</li>
        <li>個人データの削除権（「忘れられる権利」）</li>
        <li>データ処理の制限を求める権利</li>
        <li>データポータビリティの権利</li>
        <li>処理に対する異議の権利</li>
        <li>同意の撤回権（同意に基づく処理の場合）</li>
    </ul>
    <p>権利の行使を希望する場合は、下記の連絡先までご連絡ください。</p>

    <h2>8. 個人データの保護</h2>
    <p>
        管理者は、適切な技術的および組織的な措置を講じ、個人データを不正なアクセス、紛失、改ざん、漏洩から保護します。
    </p>

    <h2>9. プライバシーポリシーの変更</h2>
    <p>
        管理者は、必要に応じて本プライバシーポリシーを改定することがあります。変更があった場合には、本ページにて通知いたします。
    </p>

    <h2>10. お問い合わせ</h2>
    <p>プライバシーポリシーに関するご質問や、利用者の権利の行使に関するお問い合わせは、以下の連絡先までお願いいたします：</p>
    <p>
        連絡先： [連絡先情報] <br>
        メール： [メールアドレス] <br>
        電話番号： [電話番号]
    </p>
  </body>
</html>
