#search-friend {
  #input-form {
    width: 20rem;
    #id_query {
      display: block;
    }
  }
}

.friend-card {
  max-width: 14rem;
  min-width: 14rem;
}

.card-img-top-block {
  width: 12rem;
  height: 12rem;
  //margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.avatar-background {
  width: 12rem;
  height: 12rem;
  //margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.avatar-background-img {
  background-position: center;
  border-radius: 50%;
  background-size: contain;
  //background-size: center;
  height: 14rem;
  width: 14rem;
}

#request-message-user-message {
  max-width: 30rem;
  word-wrap: break-word;
  white-space: normal;
}
//
