#search-friend {
  #input-form {
    width: 24rem;
    #id_query {
      display: block;
    }
  }
}

.friend-card {
  max-width: 16rem;
  min-width: 16rem;
}

.card-img-top-block {
  width: 150px;
  margin: auto;
}
