#logined {
  background-color: blue;
}
.modal-backdrop {
  background-color: #2c2c32; /* ここをお好みの色に変更 */
  color: #ffffff; /* テキストの色も調整すると良い */
}

.error {
  color: red;
}

#div-test {
  background-color: red;
}

#openDialog {
  background-color: transparent;
  border: none;
}

::placeholder {
  color: red;
}

#login-modal {
  color: black;
}
