#logined {
  background-color: blue;
}

.error {
  color: red;
}

#div-test {
  background-color: red;
}

#openDialog {
  background-color: transparent;
  border: none;
}

::placeholder {
  color: red;
}
