{% load static %}

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Django Index Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'spa/css/spa.css' %}" />
  </head>
  <body>
    <h1>SPA TEST link</h1>
    <a href="/home" class="nav__link" data-link>Index</a>
    <a href="/pong" class="nav__link" data-link>Pong</a>
    <a href="/accounts" class="nav__link" data-link>Accounts</a>
    <a href="/admin" class="nav__link" data-link>Admin</a>
    <a href="/posts" class="nav__link" data-link>Posts</a>
    <a href="/settings" class="nav__link" data-link>Settings</a>
    <a href="/signup" class="nav__link" data-link>Sign_up</a>
    <a href="/login" class="nav__link" data-link>Log_in</a>
    <a href="/lang" class="nav__link" data-link>Lang</a>
    <a href="/script" class="nav__link" data-link>Script</a>
    <a href="/scriptt" class="nav__link" data-link>Script2</a>
    <a href="/success-login" class="nav__link" data-link>Success-login</a>

    <h1>SPA Area</h1>
    <div id="spa" class="spa_area">
      <div id="app"></div>
    </div>

    {% csrf_token %}
    <script type="module" src="{% static 'spa/js/index.js' %}">
      import Cookies from 'https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js';
      //const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
  </body>
</html>
