{% load i18n %} {% load tz %}
<div class="col-md-4 mb-4 w-auto">
  <div class="card mx-0 mx-sm-0">
    <div class="card-header">
      <h5 class="card-title text-center">{{tournament.name}}</h5>
    </div>
    <div class="card-body text-truncate">
      <div class="text-center">
        <strong class="card-label d-flex justify-content-center">{% trans '主催者'%}<br /></strong
        ><span><span class="text-center">{{tournament.organizer.username}}</span></span>
      </div>
      <div class="text-center mt-3">
        <strong class="card-label d-flex justify-content-center"
          >{% trans '最大参加人数'%}<br /></strong
        ><span class="d-flex justify-content-center">{{tournament.current_players}}</span>
      </div>
      <div class="text-center mt-3">
        <strong class="card-label d-flex justify-content-center">{% trans '開始日時'%}<br /></strong
        ><span class="d-flex justify-content-center"
          >{{tournament.start_at|timezone:"Asia/Tokyo"}}</span
        >
      </div>
    </div>

    <div class="d-flex justify-content-around w-100">
      {% if attr.display_register %}
      <div class="card-footer w-100">
        <button
          type="button"
          class="btn btn-primary text-nowrap pre-register-tournament"
          data-bs-toggle="modal"
          data-bs-target="#registerModal"
          value="{{tournament.id}}"
          name="{{tournament.name}}"
        >
          {% trans '参加' %}
        </button>
      </div>

      <div
        class="modal fade"
        id="registerModal"
        tabindex="-1"
        aria-labelledby="registerModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <div class="d-flex justify-content-center w-100">
                <h5 class="modal-title">
                  <div id="register-tournament-name" class="d-flex justify-content-center">
                    {% trans 'トーナメント名' %}
                  </div>
                  <div class="d-flex justify-content-center">{% trans "参加申し込み" %}</div>
                </h5>
              </div>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div id="register-limit-error" class="text-danger" hidden>
                {% trans "参加人数が上限に達したため、登録することができません。" %}
              </div>
              <form
                id="register-tournament"
                method="post"
                action="{% url 'tournament:register'  %}"
                class="w-100 register-tournament"
              >
                {% csrf_token %}
                <input
                  name="tournament_id"
                  id="retister-modal-id"
                  type="hidden"
                  value="{{tournament.id}}"
                />

                <label for="id_name" class="form-label text-dark">{% trans 'プレイヤー名'%}</label>
                <br />
                <input name="alias_name" type="text" value="{{attr.username}}" />
                <div class="d-flex justify-content-end mt-3">
                  <button
                    id="close-register-modal"
                    type="button"
                    class="btn btn-secondary me-4"
                    data-bs-dismiss="modal"
                  >
                    {% trans 'キャンセル' %}
                  </button>
                  <button type="submit" class="btn btn-primary me-4">{% trans '登録' %}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% endif %}

      <form method="post" action="{% url 'tournament:register'  %}" class="w-100 details">
        {% csrf_token %}
        <input name="id" type="hidden" value="{{tournament.id}}" />
        <input name="status" type="hidden" value="ACCEPTED" />
        <div class="card-footer text-center">
          <a href="/tournament/detail/{{ tournament.id }}" class="btn btn-primary text-nowrap"
            >{% trans '詳細 '%}</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
