{% load static %} {% load i18n %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>LoginViewテスト</title>
  </head>
  <body>
    {{extra}} {% if user.is_authenticated %}
    <div>
      <form id="logout-form" method="post" action="{% url 'accounts:logout' %}">
        {% csrf_token %}
        <button type="submit" class="form-button">Log out</button>
      </form>
    </div>

    {% else %}
    <form method="post" id="login-form" action="{% url 'accounts:login' %}">
      {% csrf_token %} {{ form }}
      <button type="submit" class="form-button">ログイン</button>
    </form>

    <p>42Ouath</p>
    <button id="openDialog">Open Dialog</button>

    {% if user.is_authenticated %}
    <p>42OAuth Login</p>
    <button type="submit" class="form-button">Log out</button>
    {% else %}
    <dialog id="myDialog">
      <p>42認証が終わり次第、ダイアログを閉じてください</p>
      <img src="data:image/png;base64,{{ qr }}" height="480" width="480" />
      <a id="ft-oauth-url" href="{{ft_url}}" target="_blank" rel="noopener noreferrer">URL</a>
      <button id="closeDialog">Close</button>
    </dialog>

    {% endif %} {% endif %}

    <script src="{% static 'accounts/js/login.js' %}"></script>
  </body>
</html>
