<body>
  <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand ms-3" href="index.html">42 FtTranscendence</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- ナビゲーション -->
      <div class="collapse navbar-collapse" id="navbar-content">
        <!-- ナビゲーションメニュー -->
        <!-- 左側メニュー：トップページの各コンテンツへのリンク -->

        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link bg-dark text-white" href="#"
              >Game<span class="visually-hidden">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link bg-dark text-white" href="#about">トーナメント</a>
          </li>
          <!-- ドロップダウン -->
        </ul>
        <!-- 右側メニュー：お問い合わせページへのリンク -->

        <ul class="navbar-nav me-2">
          <li class="nav-item dropdown">
            <div class="position-relative z-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="white"
                class="bi bi-bell"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"
                />
              </svg>
              <span
                class="position-absolute top-0 start-100 z-2 translate-middle badge rounded-pill bg-secondary"
                >1 <span class="visually-hidden">unread messages</span></span
              >
            </div>
          </li>
        </ul>

        <ul class="navbar-nav me-2">
          <li class="nav-item dropdown">
            <div
              class="d-flex nav-link dropdown-toggle bg-dark"
              id="navbarDropdown"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <div class="d-flex align-items-center mx-2 fw-bold fs-6 text-white">
                {{user.username}}
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="40"
                height="40"
                fill="white"
                class="bi bi-person-circle"
                viewBox="0 0 16 16"
              >
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path
                  fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                />
              </svg>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#shop">ユーザーページ</a>
                <div>
                  <form id="nav-logout-form" method="post" action="{% url 'accounts:logout' %}">
                    {% csrf_token %}
                    <a id="nav-logout-button" type="submit" class="dropdown-item">logout</a>
                  </form>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- /ナビゲーションメニュー -->
      </div>
      <!-- /サブコンポーネント -->
    </div>
  </nav>

  <!--
  <nav class="navbar nabvar-expand-md" id="index-nav">
    <a id="top" href="/top" class="nav__link" data-link>Top</a>
    <a id="test" href="/home" class="nav__link" data-link>Index</a>
    <a href="/pong" class="nav__link pong" data-link>Pong</a>
    <a href="/accounts" class="nav__link" data-link>Accounts</a>
    <a href="/admin" class="nav__link" data-link>Admin</a>
    <a href="/posts" class="nav__link" data-link>Posts</a>
    <a href="/settings" class="nav__link" data-link>Settings</a>
    <a href="/lang" class="nav__link" data-link id="lang-page">Lang</a>
    <a href="/script" class="nav__link" data-link>Script</a>
    <a href="/scriptt" class="nav__link" data-link>Script2</a>
    <a href="/signup-two-fa" class="nav__link" data-link>SignupTwoFA</a>
  </nav>

            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              インフォメーション
            </a>


--></body>
