body {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: black;
}

.spa_area {
  border: solid transparent;
}

#app {
  margin: 2em;
  line-height: 1.5;
  font-weight: 500;
}

h1::after {
  display: block;
  background-color: #00babc;
  width: 84px;
  height: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  content: '';
}

a {
  color: blue;
}

.navi-avatar-background {
  background-repeat: no-repeat;
  background-size: cover;
  background: center;
  border-radius: 50%;
  background-position: center;
  width: 2.8rem;
  height: 2.8rem;
}

.navi-avatar-background-img {
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  height: 2.8rem;
}

#navi-username {
  max-width: 5rem;
  .text-truncate {
    font-size: 12px;
  }
}

#navi-notification-icon {
  svg {
    fill: gray;
  }
}

#alerm-number {
  margin-left: -0.5rem !important;
}

#nav-dropdown-menu {
  display: none;
  background-color: red;
}

#small-menu-dropdown::before {
  display: none !important;
}
