{% load static %} {% load i18n %}

<body>
  <form action="{% url 'set_language' %}" id="lang_form" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
      <option value="ja">{% trans "Japanese" %}</option>
      <option value="en">{% trans "English" %}</option>
      <option value="fr">{% trans "French" %}</option>
    </select>
    <input type="submit" value="Change Language" class="change-language" />
  </form>
  <div id="test">abcdefg</div>
  <h2>{% trans "Japanese" %}</h2>
  <h2>{% trans "English" %}</h2>
  <h2>{% trans "French" %}</h2>
  <p>テスト用　後で消す</p>
</body>
